In [2]:
# AAPL TSLA NFLX MSFT NVDA
import pandas as pd
import pandas_datareader as pdr
import numpy as np
import matplotlib.pyplot as plt

# Pulling Data
aapl = pdr.get_data_tiingo('AAPL', api_key='bf2663618907db14116db19a8108c44b96a1a37d', start='2015-01-01', end='2020-01-01')
tsla = pdr.get_data_tiingo('TSLA', api_key='bf2663618907db14116db19a8108c44b96a1a37d', start='2015-01-01', end='2020-01-01')
nflx = pdr.get_data_tiingo('NFLX', api_key='bf2663618907db14116db19a8108c44b96a1a37d', start='2015-01-01', end='2020-01-01')
msft = pdr.get_data_tiingo('MSFT', api_key='bf2663618907db14116db19a8108c44b96a1a37d', start='2015-01-01', end='2020-01-01')
nvda = pdr.get_data_tiingo('NVDA', api_key='bf2663618907db14116db19a8108c44b96a1a37d', start='2015-01-01', end='2020-01-01')

In [3]:
# Cleaning Data
aapl.reset_index(inplace=True)
aapl.index = pd.to_datetime(aapl['date'])
tsla.reset_index(inplace=True)
tsla.index = pd.to_datetime(tsla['date'])
nflx.reset_index(inplace=True)
nflx.index = pd.to_datetime(nflx['date'])
msft.reset_index(inplace=True)
msft.index = pd.to_datetime(msft['date'])
nvda.reset_index(inplace=True)
nvda.index = pd.to_datetime(nvda['date'])

In [4]:
# Combining our adjClose prices
stocks = pd.concat([aapl['adjClose'],tsla['adjClose'],nflx['adjClose'],msft['adjClose'],nvda['adjClose']], axis=1)
stocks.columns = ['aapl', 'tsla', 'nflx','msft','nvda']
stocks

,aapl,tsla,nflx,msft,nvda
date,,,,,
2015-01-02 00:00:00+00:00,99.941997,219.310,49.848522,41.752553,19.389508
2015-01-05 00:00:00+00:00,97.126472,210.090,47.311381,41.364136,19.062015
2015-01-06 00:00:00+00:00,97.135613,211.280,46.501382,40.761421,18.484087
2015-01-07 00:00:00+00:00,98.497669,210.950,46.742810,41.279309,18.431110
2015-01-08 00:00:00+00:00,102.282173,210.615,47.779238,42.493669,19.129440
...,...,...,...,...,...
2019-12-24 00:00:00+00:00,282.839838,425.250,333.200000,156.522627,238.360191
2019-12-26 00:00:00+00:00,288.451463,430.940,332.630000,157.805599,238.929571
2019-12-27 00:00:00+00:00,288.342016,430.380,329.090000,158.094019,236.612097
2019-12-30 00:00:00+00:00,290.053363,414.700,323.310000,156.731483,232.067051
2019-12-31 00:00:00+00:00,292.172647,418.330,323.570000,156.840883,235.043806

In [5]:
# Log returns and covariance needed for the Sharpe Ratio 
log_returns = np.log(stocks/stocks.shift(1))
log_returns.dropna(inplace=True)


log_returns.cov() * 252

          aapl      tsla      nflx      msft      nvda
aapl  0.061887  0.033326  0.038285  0.033279  0.045966
tsla  0.033326  0.201087  0.055566  0.032604  0.053629
nflx  0.038285  0.055566  0.170276  0.042707  0.062268
msft  0.033279  0.032604  0.042707  0.054091  0.047036
nvda  0.045966  0.053629  0.062268  0.047036  0.178919

In [6]:
# Generating a random set of normalised weights
weights = np.array(np.random.random(5))
weights = weights/np.sum(weights)
weights

array([0.08279763, 0.30069676, 0.28233009, 0.22462604, 0.10954948])

In [7]:
# Variable that determines number of random portfolios to generate
num_portfolios = 10000

In [8]:
# Defining the arrays to "store" all our random portfolio and their statistics in its ith position
weights_array = np.zeros((num_portfolios, len(stocks.columns)))
returns_array = np.zeros(num_portfolios)
vol_array = np.zeros(num_portfolios)
sharpe_array = np.zeros(num_portfolios)

In [ ]:
for i in range(num_portfolios):
    weights = np.array(np.random.random(5))
    weights = weights/np.sum(weights)
    
    #Storing the portfolio weights/returns/vol/sharpe ratio in the ith position
    weights = weights_array[i,:] = weights
    
    returns_array[i] = np.sum(log_returns.mean()*252*weights)
    
    vol_array[i] = np.sqrt(np.dot(weights.T,np.dot(log_returns.cov()*252,weights)))
    
    sharpe_array[i] = returns_array[i]/vol_array[i]

In [ ]:
sharpe_array.max() # Our maximum Sharpe Ratio amongst the random portfolios

In [ ]:
sharpe_array.argmax() # Index position wihtin sharpe_array of the maximum Sharpe Ratio

In [ ]:
weights_array[sharpe_array.argmax()] # The weightings for the 5 stocks of this maximum Sharpe Ratio portfolio

In [ ]:
# Plotting our portfolios on a return-volatility plot
plt.scatter(vol_array,returns_array,c=sharpe_array,cmap='coolwarm')
plt.colorbar(label='Sharpe Ratio')
plt.xlabel = 'volatility'
plt.ylabel = 'returns'

In [ ]:
# Plotting our portfolios but with the best portfolio as a unique point

max_SR_return = returns_array[sharpe_array.argmax()]
max_SR_vol = vol_array[sharpe_array.argmax()]

plt.scatter(vol_array,returns_array,c=sharpe_array,cmap='coolwarm')
plt.scatter(max_SR_vol, max_SR_return,c='yellow',edgecolors='black',s=70)
plt.colorbar(label='Sharpe Ratio')
plt.xlabel = 'volatility'
plt.ylabel = 'returns'